@font-face {
    font-family: Raleway;
    src: url(/assets/Raleway\ Font/Raleway-Regular.ttf);
}

@font-face {
    font-family: Raleway;
    src: url(/assets/Raleway\ Font/Raleway-SemiBold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: 'Baloo Bhaijaan 2';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/baloobhaijaan2/v19/zYXwKUwuEqdVGqM8tPDdAA_Y-_bMKo1EhQd2tWxo8TwRTZP_JYs.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Baloo Bhaijaan 2';
    overflow: hidden;
    scrollbar-width: thin;
}

body {
    background-color: #F9DA82;
}

.container{
    width: 100%;
    height: 100%;
}

.header{
    z-index: 1;
    position: fixed;
    background: #009ac9;
    width: 100%;
    display: block;
    height: 3.5vmax;
    top: 0;
}

.fa_bar_container{
    position: fixed;
    left: -18vmax;
    width: 17.5vmax;
    height: 100%;
    background: #F9C780;
    transition: all 0.5s ease;
    border-right: white solid 0.5vmax;
}

.fa_bar_container header{
    font-size: 1.75vmax;
    color:white;
    padding-left: 5vmax;
    background: #009ac9;
    line-height: 3.3vmax;
    user-select: none;
    font-weight: bold;
    transition: all 0.5s ease;
    padding-top: 0.2vmax;
}

.title{
    float: left;
    color:white;
    line-height: 3.5vmax;
    user-select: none;
    font-weight: bold;
    font-size: 1.75vmax;
    margin-left: 5vmax;
    padding-top: 0.2vmax;
}

.fa_bar_container ul a{
    display: block;
    height: 0%;
    width: 100%;
    line-height: 3.5vmax;
    font-size: 1.65vmax;
    color: #1A4E88;
    box-sizing: border-box;
    transition: all 0.35s ease;
    padding-left: 1vmax;
    font-weight: bold;
    padding-top: 0.2vmax;
}

ul li:hover a {
    padding-left: 3vmax;
    background: #f0ba6e;
}

label:hover #btn{
    background: rgb(0, 130, 170);
}

#check{
    display:none;
}

label #btn{
    position: absolute;
    cursor: pointer;
    left:0;
    top:0;
    width: 3.5vmax;
    height: 3.5vmax;
    color:white;
    transition: all 0.2s;
    background: #009ac9;
}

label #btn_image{
    padding-left: 0.25vmax;
    padding-top: 0.25vmax;
    width: 3vmax;
}

.account {
    float: right;
    width: 3.5vmax;
    height: 3.5vmax;
    margin-right: 1vmax;
    display: flex;
    justify-content: center;
    align-items: center;
}

.account img {
    background-color: black;
    width: 2.5vmax;
    height: 2.5vmax;
    border-radius: 2.5vmax;
    border: 0.15vmax solid white;
}

#check:checked ~.fa_bar_container{
    left:0;
}

#check:checked ~ label #btn{
    background: rgb(0, 130, 170);
}

/* --------------Playlist----------------- */
h2{
    font-family: 'Baloo Bhaijaan 2';
    color: #1A4E88;
    padding-top: 1vmax;
    padding-left: 1vmax;
}

.wrapper{
    margin-top: 3.5vmax;
    width:100%;
    height: 6vmax;
    background-color: #AED768;
}

.left_nav_wrapper h1{
    font-family: 'Baloo Bhaijaan 2';
    color: white;
    font-size: 2.5vmax;
    padding-top: 0.2vmax;
    
}

.left_nav_wrapper .separator{
    margin-left: 2vmax;
    background-color: #1A4E88;
    border-radius: 1vmax;
    width: 0.35vmax;
    height: 4.5vmax;
}

.right_nav_wrapper .search_box_wrapper{
    outline: 0;
    border: 0;
    border-radius: 1.25vmax;
    height: 2.25vmax;
    padding: 0 1vmax;
    font-family: 'Baloo Bhaijaan 2';
    color: #009ac9;
    font-size: 1.25vmax;
    padding-top: 0.2vmax;
    margin-right: 1vmax;
    width: 20vmax;
    &::placeholder {
        color: #1A4E88;
    };
}

.right_nav_wrapper #search_btn_wrapper{
    outline: 0;
    border: 0;
    border-radius: 1.25vmax;
    height: 2.5vmax;
    padding: 0 1vmax;
    padding-top: 0.2vmax;
    font-family: 'Baloo Bhaijaan 2';
    color: white;
    background-color: #BC1823;
    font-size: 1.25vmax;
    cursor: pointer;
}

.wrapper .left_nav_wrapper{
    float: left;
    height: 6vmax;
    display: flex;
    align-items: center;
    margin-left: 3.5vmax;
    padding-right: 3.5vmax;
}

.wrapper .right_nav_wrapper{
    float: right;
    height: 6vmax;
    display: flex;
    align-items: center;
    margin-right: 3.5vmax;
}

.headbruh{
    margin-left: 2vmax;
}

/* -------Playlist container ------------------ */
.playlist_container{
    padding-bottom: 1vmax;
}

.container2{
    margin-left: 3vmax;
    margin-top: -1vmax;
    /* margin-right: 1.3vmax; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 78vmax;
}

.container2 .playlist_card{
    background-color: #B6D5F0;
    width: 22vmax;
    height: 12vmax;
    border-radius: 1vmax;
    margin-left:2vmax ;
    margin-top: 3.5vmax;
    display: inline-block;
}

.playlist_card .img1{
    width: 19.8vmax;
    height: 9vmax;
    margin-top: 1.3vmax;
    margin-left: 1.3vmax;
    border-radius: 1vmax;
}

.playlist_card button{
    background-color: #BC1823;
    color: white;
    outline: 0;
    border: 0;
    padding: 0;
    border-radius: 22px;
    font-size: 1.5vmax;
    font-weight: bold;
    font-family: "Baloo Bhaijaan 2";
    position: relative;
    align-items: center;
    top: 1.3vmax;
    margin-left:0.8vmax;
    margin-right:1vmax;
    width: 92%;
    cursor: pointer;
    height: 3vmax;
}

.playlist_card h1{
    font-family: 'Baloo Bhaijaan 2';
    color: #1A4E88;
    font-weight: bold;
    font-size: 1.5vmax;
    margin-top: 1vmax;
    margin-left: 1.4vmax;
}

.playlist_card h2{
    color: #1A4E88;
    font-weight: bold;
    margin-top: -1.5vmax;
    margin-left: 0.4vmax;
    font-size: 1.15vmax;
}

.playlist_card .img2{
    width: 50px;
    position: relative;
    top: -4vmax;
    left: 18vmax
}

/* -----------------Credit --------------------- */
.credit{
    width: 20vmax;
    position: absolute;
    left: 78vmax;
    background-color: white;
    border-radius: 20px;
    top: 12.85vmax;
    /* height: 13vmax; */
}

.credit img{
    width: 180px;
    margin-top: 10.275vmax;
    margin-left: 4vmax;
    margin-bottom: 5vmax;
}

.credit h1{
    position: relative;
    top: 5vmax;
    text-align: center;
    color:#1A4E88;
    font-weight: bolder;
}